@model VasaHotel.Models.Typeroom

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this typeroom @Model.type_room_id ?</h3>
<div>

    
    <form asp-action="Delete" style="margin-top:30px">
        <input type="hidden" asp-for="type_room_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="button-add">Back to List of typeroom</a>
    </form>
</div>
<style>
    .button-add {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: #dfa974;
        border: none;
        padding: 14px 34px 13px;
    }

    .button-add1 {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: hotpink;
        border: none;
        padding: 14px 34px 13px;
    }
</style>