@model VasaHotel.Models.Typeroom

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h4>Edit Typeroom</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="type_room_id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="button-add1" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <img src="~/image/blog/blog-9.jpg" height="200px" />
    </div>
</div>

<div>
    <a asp-action="Index" class="button-add">Back to List of typeroom</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .button-add {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: #dfa974;
        border: none;
        padding: 14px 34px 13px;
    }

    .button-add1 {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: hotpink;
        border: none;
        padding: 14px 34px 13px;
    }
</style>
