

@model IEnumerable<VasaHotel.Models.Room>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="">
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">

                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Travel Plan</h4>
                        <p>
                            It is important to take care of the customer ,
                            and the patient will be followed, but at the same time, they will occur as a result of great effort and pain.
                        </p>
                    </div>


                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Catering Service</h4>
                        <p>
                            Patient care is very important, the patient will be monitored by the patient,
                            but it is a time of immense pain and suffering.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Babysitting</h4>
                        <p>
                            It's very important to take care of the babies of the customer
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Laundry</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Hire Driver</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Bar & Drink</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid" style="background-image: url('https://t3.ftcdn.net/jpg/00/29/13/38/360_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg'); background-repeat: no-repeat; background-size: cover; ">
    <section>
        <div class="container" style="background-image: url('https://www.hoteljob.vn/files/quang-ba-khach-san.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh; margin-bottom: 20px ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1 style="color:white">Vasa A Luxury Hotel</h1>
                        <p style="color:white">
                            Here are the best hotel booking sites, including recommendations for international
                            travel and for finding low-priced hotel rooms.
                        </p>
                        <a href="#" class="primary-btn" style="color:white">Discover Now</a>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<h5 style="text-align: center; padding: 20px; letter-spacing: 5px; font-weight: 800;">ROOMS</h5>
<div class="container>

    <section class="rooms-section spad">
        <div class="container">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            
                            <img src="~/Upload/Images/@item.ImageName" width="350px" height="224px" />
                            <div class="ri-text">
                                <h4>  @Html.DisplayFor(modelItem => item.Name)</h4>

                                <table>
                                    <tbody>

                                        <tr>
                                            <td class="r-o">Status:</td>
                                            <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Type: @Html.DisplayFor(modelItem => item.Typeroom.Name)</td>

                                        </tr>

                                    </tbody>
                                </table>

                                <a class="primary-btn" asp-action="Detail_room" asp-route-id="@item.room_id">More Details</a>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </section>
</div>
