@model IEnumerable<VasaHotel.Models.Review>

@{
    ViewData["Title"] = "Review page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rd-reviews">
    <h4>Evaluation</h4>
    @foreach (var item in Model)
    {
        <div class="review-item">
            <div class="ri-pic">
                <img src="~/image/room/avatar/avatar-2.jpg" alt="">
            </div>
            <h5> @Html.DisplayFor(modelItem => item.Name)</h5>
            <div class="ri-text">
                <span>  @Html.DisplayFor(modelItem => item.Day)</span>
                <div class="rating">
                  Rating:  @Html.DisplayFor(modelItem => item.Rating)
                </div>
                <p>
                    @Html.DisplayFor(modelItem => item.Review_content)
                </p>
            </div>
        </div>
    }
</div>

<a asp-action="Create_review" class="button-add">Give a review</a>

<style>
    .button-add {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 2px;
        background: #dfa974;
        border: none;
        padding: 14px 34px 13px;
    }
</style>

