@model VasaHotel.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h4>Create a Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Author's name':</label>
                <input asp-for="author_name" class="form-control" />
                <span asp-validation-for="author_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Published day:</label>
                <input asp-for="day_published" class="form-control" />
                <span asp-validation-for="day_published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" type="text" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Image:</h5>
                <input type="file" id="uploadhinh1" name="uploadhinh1" accept="image/*" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index" class="button-add">Back to the Blogs Page</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/image/hero/hero-2.jpg" width="700px" height="550px" />
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .button-add {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: #dfa974;
        border: none;
        padding: 14px 34px 13px;
    }

    .button-add1 {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        background: hotpink;
        border: none;
        padding: 14px 34px 13px;
    }
</style>