@model VasaHotel.Models.Room

@{
    ViewData["Title"] = "Edit";
   Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h4 style="color: #dfa974;font-weight: 700;text-align: center">Edit the Room</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="room_id" />
            <div class="form-group">
                <label  class="control-label" style="width: 100%">Typeroom</label>
                <select asp-for="TyperoomID" class="form-control" asp-items="ViewBag.TyperoomID" style="width: 208px;"></select>
                <span asp-validation-for="TyperoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Image:</h5> 
                <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" > </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <img src="~/image/hero/hero-1.jpg" height="400px" />
    </div>
</div>

<div>
    <a asp-action="Index" class="button-goback">Back to List</a>
</div>

<style>
    li.option.selected.focus {
        width: 208px;
    }
    .button-goback {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: deepskyblue;
        letter-spacing: 2px;
        background: #dfa974;
        border: none;
        padding: 14px 34px 13px;
    }
</style>