@model VasaHotel.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="author_name" class="control-label"></label>
                <input asp-for="author_name" class="form-control" />
                <span asp-validation-for="author_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day_published" class="control-label"></label>
                <input asp-for="day_published" class="form-control" />
                <span asp-validation-for="day_published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" type="text" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
              <h5>Upload image:</h5>
                <input  id="uploadhinh" name="uploadhinh" accept="image/*" type="file"/>
             
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
